# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
node_modules/
.claude/
dist/
out/
# Output videos
uploads/
outputs/
*.mp4

# OS files
.DS_Store

# Logs
*.log

#ignore test files
tests/

remotion-renderer/node_modules/
remotion-renderer/out/